* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  color: whitesmoke;
  background-color: #606060;
}

/* Navigation Section */

nav {
  margin: 2rem;
  border-right: 6px solid #fff;
  border-right-style: double;
}

nav header {
  font-size: 1.75rem;
}

nav ul {
  font-family: "Open Sans", sans-serif;
}

nav ul li {
  list-style: none;
  margin: 1.22rem;
  font-size: 1.72rem;
  padding: 1.5rem 1.5rem 1.5rem 0;
}

nav ul li a {
  color: yellow;
  text-decoration: none;
}

nav ul li a:visited {
  color: yellow;
}

/* End Navigation Section */
/* Start main Content Section */

section {
  margin: 1.5rem 1.5rem 2.3rem 0;
}

section header {
  font-size: 3rem;
}
/* END Desktop Styling */

@media (max-width: 600px) {
  body {
    flex-direction: column;
    color: #000;
    background-color: white;
  }
  nav {
    position: sticky;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav ul li a {
    color: sienna;
  }
  nav ul li a:visited {
    color: sienna;
  }
}
